# Variable

#### Variables are the reserved memory that store data

In [1]:
name = 'Harsh'

In [2]:
print(name)

Harsh

## Dynamic Typing

In [3]:
number= 1234

In [4]:
type(number)

int

In [5]:
number = 2.3
type(number)

float

In [6]:
name = 'Harsh'
type(name)

str

In [7]:
a = 1.0
type(a)

float

In [8]:
b = True
type(b)

bool

In [9]:
b = 2
c = 3
b>c

False

In [10]:
c>b

True

In [11]:
names = ['H','A','R','S','H']
print(names)
type(names)

['H', 'A', 'R', 'S', 'H']

list

In [12]:
names = ('H','A','R','S','H')
print(names)
type(names)

('H', 'A', 'R', 'S', 'H')

tuple

In [13]:
info = {'Name':'Harsh','Age':20}  #Dictinory -> keys and value pair {keys:value}
print(info)
type(info)

{'Name': 'Harsh', 'Age': 20}

dict

In [14]:
a = {1,2,3} # Set does not aloow duplicate data
type(a)

set

In [15]:
a = 'Harsh' # positve indexing starts from 0 and negative from -1
a[0]

'H'

In [16]:
a[0:2] #[start:stop:step]

'Ha'

In [17]:
a[0::2]

'Hrh'

In [18]:
a[0] + a[3]

'Hs'

In [19]:
student = ' engineer'
a +' is a '+ student

'Harsh is a  engineer'

In [20]:
#casting (explicitly converting)
a + str(28)

'Harsh28'

In [21]:
round(9.8)

10

In [22]:
round(9.5)

10

In [23]:
round(9.4)

9

In [24]:
round(8.5)

8

In [25]:
statement = 'I am Harsh'

In [26]:
statement

'I am Harsh'

In [27]:
statement * 5

'I am HarshI am HarshI am HarshI am HarshI am Harsh'

### String Functions

In [28]:
name = "Harsh Patil"

In [29]:
name

'Harsh Patil'

In [30]:
name.upper()

'HARSH PATIL'

In [31]:
name.lower()

'harsh patil'

In [32]:
name = name.lower()

In [33]:
name.title()   #converts every firdt letter uppercase

'Harsh Patil'

In [34]:
name.capitalize()

'Harsh patil'

In [35]:
info = "India is my country"

In [36]:
info.split()   #splits the given sentence wrt to gaps

['India', 'is', 'my', 'country']

In [37]:
info.split('i')  #include the word where you want to create the space

['Ind', 'a ', 's my country']

### Location and counting

In [38]:
name = "harsh"

In [39]:
name.count('h') #counts the number of the word mentioned in bracket

2

In [40]:
name.find('r') #find the location of word mentioned in the bracket

2

In [41]:
name.rfind('h')  #checks from rightmost postion

4

In [42]:
num = '6'
num.isalnum()  #number should be either alphabet or number

True

In [43]:
num.isalpha() # char should be alphabet only

False

In [44]:
num.isdigit() #char should be number only

True

In [45]:
name

'harsh'

In [46]:
len(name)  # gives the lebgth of the string

5

In [47]:
name = "  Harsh  "
len(name)

9

In [48]:
name.strip() #removes space

'Harsh'

In [49]:
name = "Harsh"
name.startswith('H')

True

In [50]:
name.endswith('h')

True

## Checking Strings

In [51]:
#to check certain character is present or not 
info = "I am Harsh Patil an ECE Engineer"

In [52]:
"Harsh" in info

True

In [53]:
def add_number(a,b):  #function
    print(a+b)
    
a = 10
b = 20 
add_number(a,b)

30

In [54]:
add_number(12,18)

30

In [55]:
positive_info = ['Harsh','ECE']
for i in info.split():
    if i in positive_info:
        print("Training is going well")
else:
             print("Wrong")

Training is going well
Training is going well
Wrong

## Number in Python

In [56]:
# it works as BODMAS rule
2+2/2

3.0

## List is also sequence but it is mutable

In [57]:
# create a list
my_list = [1,2,3]

In [58]:
my_list

[1, 2, 3]

In [59]:
type(my_list)

list

In [60]:
my_list1 = ['String',2,3.2,True]
my_list1

['String', 2, 3.2, True]

In [61]:
my_list1[0]

'String'

In [62]:
len(my_list1)

4

In [63]:
my_list1[0]

'String'

In [64]:
my_list1[0][2]   #first bracket is for elemnts of list and second for the elemnt of the selected element

'r'

In [65]:
my_list1[1] = 4

In [66]:
my_list1

['String', 4, 3.2, True]

In [67]:
my_list1 + ['new data']

['String', 4, 3.2, True, 'new data']

#### Pop is used to pop out the element from the list, by default it will pop the last index position, but we can also specify which index to pop

In [68]:
my_list1.pop()

True

In [69]:
my_list1

['String', 4, 3.2]

In [70]:
my_list1.pop(1)

4

In [71]:
my_list1

['String', 3.2]

In [72]:
a = [1,5,4,7,8]

In [73]:
a

[1, 5, 4, 7, 8]

In [74]:
a.sort()  #sorts the data in ascending order

In [75]:
a

[1, 4, 5, 7, 8]

In [76]:
a.sort(reverse=True) #sorts the list in descending order

In [77]:
a

[8, 7, 5, 4, 1]

In [78]:
a = [1,5,4,7,8]
a.reverse()        #reverse's the list wihtout sorting

In [79]:
a

[8, 7, 4, 5, 1]

## Nested List

In [80]:
list1=[1,2,3]
list2=[4,5,6]
list3=[7,8,9]

data = [list1,list2,list3]

In [81]:
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [82]:
data[1]

[4, 5, 6]

In [83]:
data[1][2]

6

In [84]:
info = [[1,2,3],['Harsh','Patil']]

In [85]:
info[1][0]

'Harsh'

In [86]:
info[1][0][2]

'r'

In [87]:
info[1][0][::-1]   # last bracket perform the reverse of string

'hsraH'

In [88]:
a = 'Harsh'
a[:len(a)]

'Harsh'

In [89]:
list1 = [1,2,3]
list1.append(4)    #adds elemnt to the list

In [90]:
list1

[1, 2, 3, 4]

## Count

In [91]:
list1.count(3)   #counts the given element in the list

1

## Extend

#### extend list by appending elements from the iterable

In [92]:
list1 = [1,2,3]

In [93]:
list1

[1, 2, 3]

In [94]:
list1.append([4,5,6])
list1

[1, 2, 3, [4, 5, 6]]

In [95]:
len(list1)

4

In [96]:
list1 = [1,2,3]
list1.extend([4,5,6])

In [97]:
list1

[1, 2, 3, 4, 5, 6]

In [98]:
len(list1)

6

## Insert

####  Insert takes 2 arguments ie insert(index,object)

In [99]:
list1

[1, 2, 3, 4, 5, 6]

In [100]:
list1.insert(0,0)

In [101]:
list1

[0, 1, 2, 3, 4, 5, 6]

## Remove


#### It removes the first occurance of the values

In [102]:
list1=[1,2,3,4,5,'Harsh']

In [103]:
list1.remove('Harsh')

In [104]:
list1

[1, 2, 3, 4, 5]

pop() removes the element in the list based on index position                                 
remove() removes the elemnt in the list based on value

## Clear

#### clears the entire list

In [105]:
list1

[1, 2, 3, 4, 5]

In [106]:
list1.clear()

In [107]:
list1

[]

## Tuples

#### they are immutable

In [108]:
t = (1,4,5,6)

In [109]:
t

(1, 4, 5, 6)

t[1]=2   # the eroor shows beacuse it is immutable

## Dictionaries


#### Synatx = {'key1' : 'value1' , 'key2' : 'value2'}

In [110]:
mydict = {'key1' : 'value1' , 'key2' : 'value2'}

In [111]:
mydict['key2']

'value2'

In [112]:
#to extract all key names
mydict.keys()

dict_keys(['key1', 'key2'])

In [113]:
#for only values
mydict.values()

dict_values(['value1', 'value2'])

In [114]:
info = {'Names':['Harsh','Om','Sid'],'Marks':[84,90,96]}

In [115]:
info.keys()

dict_keys(['Names', 'Marks'])

In [116]:
info.values()

dict_values([['Harsh', 'Om', 'Sid'], [84, 90, 96]])

In [117]:
info['Names'][0]

'Harsh'

 ### zip takes first element of one list and zips with the firdt elemnt of other list and so onn

In [118]:
list(zip(info['Names'],info['Marks']))

[('Harsh', 84), ('Om', 90), ('Sid', 96)]

In [119]:
list(zip(info['Names'],info['Marks']))[0]

('Harsh', 84)

# Sets

#### It does not allow any duplication

In [120]:
a = set()

In [121]:
type(a)

set

In [122]:
a = {1,2,3,4}
type(a)

set

In [123]:
a = set()

In [124]:
a.add(2)  # adding elements to empty set

In [125]:
a

{2}

In [126]:
a.add(4)
a

{2, 4}

In [127]:
a.add(4)    # duplicates are not allowed
a

{2, 4}

In [128]:
a = [1,2,2,3,4,5,3,2,3,2,2,6]   #duplicates are removed
set(a)

{1, 2, 3, 4, 5, 6}

## Differences

In [129]:
set1 = {2,3,4,5,6}
set2 = {5,6,7,8}

In [130]:
set1.difference(set2)   #prints only data which are present in set 1 and not in set 2

{2, 3, 4}

## difference_update

In [131]:
set1.difference_update(set2) # updates the set 1

In [132]:
set1

{2, 3, 4}

 # Intersection
 
 #### returns intersection or common elements of two or more sets

In [133]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}

In [134]:
a.intersection(b)   #returns the common elements from both set

{4, 5}

# Union

#### return the unique elemnts from both the sets

In [135]:
print(a,b)

{1, 2, 3, 4, 5} {4, 5, 6, 7, 8}

In [136]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

## Symmetric Differnece

In [137]:
a.symmetric_difference(b) #removes the common elements

{1, 2, 3, 6, 7, 8}

## isdisjoint

#### This method will return true if two sets have null intersection elements

In [138]:
a = {1,2,3}
b = {4,5,6}

In [139]:
a.isdisjoint(b)

True

## issubset

#### returns wether another set contains same element

In [140]:
a = {1,2,3}
b = {2,3}

In [141]:
a.issubset(b)

False

In [142]:
b.issubset(a)

True

## issuperset

In [143]:
a.issuperset(b)

True

In [144]:
b.issuperset(a)

False

In [145]:
a.issuperset(b)

True

# Operators

1)Arthmetic                                                                                 
2)Assignment                                                                                             
3)Comparison (Relational)                                                                                   
4)Logical                                                                                    
5)Membership                                                                                           
6)Identity                                                                                                  
7)Bitwise

### 1) Arthmetic Op

1)Addition                   (+)                                                                                                 
2)Subraction                 (-)                                                                                                 
3)Multipication              (*)                                                                         
4)Division                   (/)                                                                     
5)Modulus                    (%)                                                                 
6)Exponential                (**)                                              
7)Floor Division             (//)

In [146]:
5+10

15

In [147]:
x = 8
y = 6
print("Addition =",x+y)

Addition = 14

In [148]:
print("Subraction =",x-y)

Subraction = 2

In [149]:
print(f"Addition = {x+y} Subraction = {x-y} Multiplication = {x*y}")

Addition = 14 Subraction = 2 Multiplication = 48

In [150]:
print("Division =",x/y)

Division = 1.3333333333333333

In [151]:
print("Modudlus =",x%y)

Modudlus = 2

In [152]:
print("Exponentional =", x**2)

Exponentional = 64

In [153]:
print("Floor Divison =",x//y)

Floor Divison = 1

## Assignment Operation

1) +=
2) -=
3) *=

In [154]:
num1 = 10
num2 = 20
num3 = num1 + num2

In [155]:
num3

30

In [156]:
num3 = num3 + num2

In [157]:
num3

50

In [158]:
num3 += num2

In [159]:
num3

70

In [160]:
num3 -= num2

In [161]:
num3

50

### Perform the same operations for rest of the operators

# Comprasion operator (relational)

1)Equal too                   (==)                                      
2)Not Equal to                (!=)                                       
3)Greater Than                (>)                                       
4)Less Than                   (<)                              
5)Greater Than or Equal to    (>=)                              
6)Less than or Equal to       (<=)

In [162]:
x =20
y = 35

In [163]:
compare = x==y 
print(compare)

False

In [164]:
compare = x!=y
compare

True

In [165]:
compare = x>y
compare

False

# Logical operators

1)and     (&&)                                                                     
2)or      (||)                                                           
3)not     (~)

In [166]:
x = 10 
x > 6 and x <5

False

In [167]:
x > 6 or x <5

True

In [168]:
not(x > 6 and x <5)

True

# Membership operator

#### to check certain value is present or not in a list

1) in                                                                 
2) not in

In [169]:
list1= [2,4,6]
a = 3

In [170]:
a in list1

False

In [171]:
a = 2
a in list1

True

In [172]:
a = 10 
a not in list1

True

# Identity Operator

#### used to compare objects
1) is
2) is not

In [173]:
list1 = [10,20,30]
list2 = [12,20,30]

In [174]:
list3 = list1

In [175]:
list1 is list3

True

In [176]:
list1 is list2

False

In [177]:
id(list1)   # memory location of data

2442921192512

In [178]:
id(list2)

2442921156800

In [179]:
id(list3)

2442921192512

In [180]:
 if id(list1)==id(list2) :
        print("Same memory location")
elif id(list2) == id(list3):
    print("Same memory location")
else :
    print("Same memory location")

Same memory location

# Bitwise operator

#### used to compare binary numbers

1) Bitwise and (&)                                                                  
2) Bitwise or  (|)
3) Bitwise not (~)

In [181]:
bin(10)   # prints the binary number of the decimal number

'0b1010'

In [182]:
bin(15)

'0b1111'

In [183]:
10 & 12

8

  1010                                                                                                                     
 1100                                                  
------------                                                   
  1000

In [184]:
10 | 12

14

In [185]:
~ 6   #  -(x+1)

-7

## Conditional ( if , elif, else )

In [186]:
1 < 3

True

In [187]:
if True:
    print("Good")
else:
    print("Worst")

Good

## Input

In [188]:
name = input("Enter your Name ")

Enter your Name Harsh

In [189]:
name

'Harsh'

In [190]:
info = input("What is your Age? ")

What is your Age? 20

In [191]:
info

'20'

In [192]:
loc = input("Enter your location ")

if loc == "Home":
    print("Welcome Home")
elif loc == "College":
    print("Welcome to College")
else:
    print("Where are you?")

Enter your location Home
Welcome Home

In [193]:
loc

'Home'

In [194]:
loc = input("Enter your location ")

if loc == "Home":
    print("Welcome Home")
elif loc == "College":
    print("Welcome to College")
else:
    print("Welcome to",loc)

Enter your location Class
Welcome to Class

In [195]:
# tax counter
income = int(input("Enter your Income in Rs "))

if income <= 10000 :
    print("No Tax")
elif income > 10000 and income <=20000:
    print("Tax = ",((income-1000)*0.1))
else:
    print("Tax = ",(income - 20000)*0.2 + 1000*0.1)

Enter your Income in Rs 19000
Tax =  1800.0

In [196]:
income# 1st reading

19000

In [197]:
pwd  #path of current working directory

'C:\\Users\\Dell\\Desktop\\python'

## For loop

A for loop is a control statement that excutes the codes for the predefined number of times

syantax:


   for item in list:
        statements.....

In [198]:
data = [1,2,3,4]

for i in data:
    print(i)

1
2
3
4

In [199]:
for i in data:
    print(i**2)

1
4
9
16

In [200]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [201]:
list(range(5))

[0, 1, 2, 3, 4]

In [202]:
name = 'Harsh'
for i in range(5):
    print(name)

Harsh
Harsh
Harsh
Harsh
Harsh

In [203]:
name = 'Harsh'
for i in range(5):
    print(i,')',name)

0 ) Harsh
1 ) Harsh
2 ) Harsh
3 ) Harsh
4 ) Harsh

In [204]:
# print all the even numbers in betwenn 1 and 100
for i in range(1,101):
    if(i%2==0):
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [205]:
for i in range(1,11):
    if(i%2==0):
        print(i)
    else:
        print("Odd")

Odd
2
Odd
4
Odd
6
Odd
8
Odd
10

In [206]:
even = []
odd = []
for i in list(range(1,11)):
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)

In [207]:
print("Even Nos",even)
print("Odd Nos",odd)

Even Nos [2, 4, 6, 8, 10]
Odd Nos [1, 3, 5, 7, 9]

In [208]:
odd_list = list(range(1,11,2))
even_list = list(range(2,11,2))

In [209]:
print(odd_list)
print(even_list)

[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

In [210]:
txt = 'Harsh'
for i in txt:
    print(i)

H
a
r
s
h

In [211]:
txt = "Harsh is Engineer"
for i in txt.split():
    print(i)

Harsh
is
Engineer

## Break statement

with the break statement we can stop the loop

In [212]:
number = [20,40,60,80,100,120]
for i in number:
        if i>100:
             break
        print(i)

20
40
60
80
100

## Continue statement

skips the condition mentioned

In [213]:
number = [20,40,60,80,100,120]
for i in number:
        if i==100:
             continue
        print(i)

20
40
60
80
120

## While Loop

when the Nos of iteration is unknown

In [214]:
i = 1
while i<10:
    print(i)
    i = i+1

1
2
3
4
5
6
7
8
9

## List comprehension

In [215]:
# to find the frequency of elements
list1 = [1,2,2,3,4,4,4,2,3,4,2,1]

frequency = {}

for i in list1:
    frequency[i] = list1.count(i)   # prints how many times the element is repeated
    
frequency

{1: 2, 2: 4, 3: 2, 4: 4}

In [216]:
{i:list1.count(i)  for i in list1}   #dictionary Comprehension

{1: 2, 2: 4, 3: 2, 4: 4}

In [217]:
data = "Harsh Patil"
substring = "Patil"
result = data.replace(substring," ")
result

'Harsh  '

###    without any condition

#### new_list = [expression for i in iterable]

In [218]:
list_1 = [i for i in range(10)]
list_1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

###  for one Condition

#### new_list = [expression      for i in iterable  if condition == True]

In [219]:
list_1 = [i for i in range(10) if i%2==0]
list_1

[0, 2, 4, 6, 8]

### for two conditions

#### new_list = [  expression  if condition == True   else expression     for i in iterable]

In [220]:
list_1 = ['even' if i%2==0  else 'odd' for i in range(10)]
list_1

['even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [221]:
#get me only those words which has length less then 5 char
text ='fear task to and Face 2 run'

In [222]:
{i:len(i) for i in text.split() if len(i)<5}

{'fear': 4, 'task': 4, 'to': 2, 'and': 3, 'Face': 4, '2': 1, 'run': 3}

In [223]:
#from 1 to 6 how many 6 are present
([i for i in range(1,101) if '6' in str(i)])

[6, 16, 26, 36, 46, 56, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 76, 86, 96]

## Functions

In [224]:
#syntax

def greet():
    print("Good Morning")

greet()

Good Morning

### Types of Argument

#### 1) Formal Arg                                                                               
#### 2) Actual Arg                                                                                
   A) Position arg                                                           
   B) Keyword arg                                                  
   C) Default arg                                                 
   D) Variable length arg                                                  
   E) Keyword variable length arg

In [225]:
#pos arg

def name(first_name,last_name):
    print(first_name,last_name)
    
name('Harsh','Patil')

Harsh Patil

In [226]:
name('Patil','Harsh')  #order matters

Patil Harsh

In [227]:
#keyword arg

def info(name,age):
    print("Name= ",name,'\nAge= ',age)

In [228]:
info('Harsh',20)

Name=  Harsh
Age=  20

In [229]:
info(20,"Harsh")

Name=  20
Age=  Harsh

In [230]:
info(age=20,name="Harsh")

Name=  Harsh
Age=  20

In [231]:
#default arg
def info(name,age=18):                       #value is already defined
    print("Name= ",name,'\nAge= ',age)

info("Harsh")

Name=  Harsh
Age=  18

In [232]:
info("Harsh",20)

Name=  Harsh
Age=  20

In [233]:
# Variable length argument     #cannot give keyword
data = [2,5,5,8]
total = 0
for i in data:
        total += i

print(total)

20

In [234]:
def add(*data):               # * means variable length doesnt matter it should perform the task for all cases
    total = 0
    for i in data:              # alwyas store in tuple
        total += i
    print(total)

In [235]:
add(10,20,30,40,50,60)

210

In [236]:
#keyword variable length arg   keywargs **
def info(**data):              #data stored in dictionary format
    for i,j in data.items():
        print(i,'=',j)

In [237]:
info(name = "Harsh",Age = 20)

name = Harsh
Age = 20